* {
  font-family: monospace;
  box-sizing: border-box;
}

body {
  padding: 20px;
}

.order-box {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
}

select {
  padding: 4px 8px;
  font-size: 14px;
}
