* {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 360px) {
  html,
  body {
    height: 100%;
  }
  body {
    background-color: rgb(226, 255, 226);
  }
  .status-bar {
    position: fixed;
    top: 0;
  }
  .navbar {
    position: fixed;
    bottom: 0;
  }
}
