html,
body {
  height: 100vh;
}
nav {
  width: 100%;
  background-color: grey;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 500px;
  min-height: 600px;

  background-color: rgb(220, 220, 220);
}

.confirm {
}

.order {
}

.menu-container {
  border: 1px solid black;
  display: flex;
  flex: column;
}
.menu-number {
}
.menu-detail {
  display: flex;
  flex-direction: column;
}
.menu-option {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
