* {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 130px;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  gap: 20px;
  background: linear-gradient(
    to bottom,
    #fafafa 0%,
    #fafafa 50%,
    rgba(250, 250, 250, 0.7) 70%,
    rgb(250 250 250) 85%,
    rgb(250 250 250 / 24%) 100%
  );
  padding: 20px;
  z-index: 1000;
}

.logo {
  width: 90px;
  height: 90px;
  object-fit: contain;
  cursor: pointer;
}

.navbar {
  background-color: #fafafa;
  border-radius: 50px;
  padding: 15px 200px;
  display: flex;
  align-items: center;
  color: #111318;
  gap: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.state {
  flex: 1;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

.add_btn {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #fa5c01;
  border: none;
  font-size: 30px;
  color: #fafafa;
  transition: all 0.3s ease;
  position: relative;
  left: 170px;
  cursor: pointer;
}

.add_btn:hover {
  background-color: #f6610c;
  transform: scale(1.05);
}

.cart_btn {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-image: url("../images/cast_orange.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fafafa;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  left: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.cart_btn:hover {
  background-color: #f0f0f0;
  transform: scale(1.05);
}

.cartQty {
  position: absolute;
  top: 0;
  right: 0;
  padding: 6px 10px;
  background-color: white;
  border-radius: 100px;

  font-size: 18px;
  font-weight: bold;
  color: #fa5c01;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

/* ===== MENU ITEM ===== */
.menu {
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 15px;
  gap: 20px;
  border-radius: 10px;
}

.menu-num {
  font-size: 22px;
  font-weight: 700;
  min-width: 30px;
}

.menu-detail,
.menu-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.input-section {
  display: flex;
  flex-direction: column;
}

.input-section input,
.input-section textarea {
  padding: 8px 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: #f2f2f2;
  resize: none;
}

/* ---- ปุ่ม quantity ---- */
.quantity-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
}
.quantity {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  border-radius: 24px;
  font-size: 16px;
  width: 18px;
  padding: 9px 18px;
  background-color: rgb(242, 242, 242);

  transition: all 0.2s ease-in-out;
}
.quantity:hover {
  box-shadow: inset 0px 0px 20px -10px rgb(162, 162, 162);
  background-color: rgb(255, 255, 255);
}
.quantity:focus {
  outline: none;
  box-shadow: inset 0px 0px 20px -10px rgb(162, 162, 162);
  background-color: rgb(255, 255, 255);
}
.increase,
.decrease {
  font-size: 16px;
  cursor: pointer;
  padding: 2px 6px;
  border-radius: 100px;
  user-select: none;

  transition: all 0.2s ease;
}
.decrease {
  transform-origin: right;
}
.increase {
  transform-origin: left;
}
.increase:hover,
.decrease:hover {
  box-shadow: 0px 1px 6px -1px rgb(124, 124, 124);
  background-color: #fa5a0d;
  color: white;

  transform: scale(1.5);
}
.increase:active,
.decrease:active {
  background-color: #ff7c3e;
}
/* -------- ware buttoon ------------ */
.item-ware {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  gap: 20px;
}

.radio {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.radio:hover {
  cursor: pointer;
}

/* ซ่อน radio ตัวจริง */
.radio input[type="radio"] {
  display: none;
}

/* ปุ่มนอก radio */
.radio-custom {
  width: 22px;
  height: 22px;
  background-color: rgb(242, 242, 242);
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
  position: relative;
}
.radio:hover .radio-custom {
  cursor: pointer;
  background-color: white;
  box-shadow: inset 0px 1px 6px -1px rgb(162, 162, 162);
  transition: 0.3s ease;
}

/* ปุ่มใน radio */
.radio-custom::after {
  content: "";
  width: 12px;
  height: 12px;
  background: #fa5a0d;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease;
  box-shadow: 0px 1px 6px -1px rgb(124, 124, 124);
}

.radio input:checked + .radio-custom::after {
  transform: translate(-50%, -50%) scale(2);
}

/* ----- ปุ่ม delete */
.delete-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.delete-button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;

  transition: all 0.2s ease;
  transform-origin: center;
}
.delete-button:hover {
  transform: scale(1.4);
}
.delete-button:active {
  transform: scale(1.2);
}

.delete-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(229, 229, 229, 0.198);
  backdrop-filter: blur(8px);
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 18px;

  z-index: 99;
}
.delete-overlay {
  cursor: pointer;
}

.delete-box {
  background: white;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  border-radius: 20px;
  text-align: center;
  gap: 10px;
}
.delete-box {
  cursor: default;
}
.delete-box p {
  cursor: default;
}
.confirm-delete-button-conatiner {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
}
.confirm-delete {
  background: none;
  border: none;
}
#no:hover {
  font-weight: bold;
  cursor: pointer;
}
#yes {
  padding: 8px 16px;
  background: #f73326;
  color: white;
  border-radius: 8px;
}
#yes:hover {
  font-weight: bold;
  cursor: pointer;
}

/* ===== CUSTOMER INFO ===== */
.customer-info {
  border-left: 1px solid #ccc;
  padding-left: 20px;
  min-width: 250px;
}

.customer-info input {
  width: 100%;
  padding: 8px 12px;
  margin-bottom: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.save-btn {
  margin-top: 20px;
  padding: 10px;
  background-color: #fa5a0d;
  color: white;
  border: none;
  border-radius: 10px;
  width: 100%;
  font-size: 18px;
  cursor: pointer;
}

.save-btn:hover {
  background: #0b76d1;
}
