* {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

html,
body {
  height: 100vh;
}

nav {
  width: 100%;
  background-color: grey;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
.fixed-menu {
  background-color: beige;
}
.menu-list-container {
  background-color: aliceblue;
  width: 300px;
}

.menu {
  display: flex;
  flex-direction: row;
}

.custom-menu {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 330px;
  background-color: rgb(182, 244, 244);
}
